# Vault Vintage — Backend
# Configura estas variables en Railway (no uses este archivo en producción)

PORT=8082

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres.railway.internal:5432/railway
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=lxTwTVDLCefftdLGtgVUxsMumyzDKkvu

JWT_SECRET=clave_super_secreta_vault_vintage_2026_spring_boot

SPRING_JPA_SHOW_SQL=false
