# Puerto del servidor (default: 8082)
PORT=8082

# PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/vault_vintage
SPRING_DATASOURCE_USERNAME=vvintage
SPRING_DATASOURCE_PASSWORD=vvintage123

# JWT
JWT_SECRET=clave_super_secreta_vault_vintage_2026_spring_boot

# Hibernate
SPRING_JPA_SHOW_SQL=false

# --- Railway (producción) ---
# SPRING_DATASOURCE_URL=jdbc:postgresql://postgres.railway.internal:5432/railway
# SPRING_DATASOURCE_USERNAME=postgres
# SPRING_DATASOURCE_PASSWORD=lxTwTVDLCefftdLGtgVUxsMumyzDKkvu
